body {
    font-family: 'Times New Roman', Times, serif;
}

.anime-chef {
    margin-left: auto;
    margin-right: auto;
    display: block;
}

div {
    text-align: center;
}

ul {
   display: table;
   margin: 0 auto;
}

